li:not(.different) {
  color: red;
}

@media print {
  * {
    position: relative !important;
    height: auto !important;
  }
  #header, #menu {
    display: none;
  }

  #print-wrapper {
    overflow-y: auto !important;
    height: auto !important;
  }

  .break-page {
    page-break-after: always;
  }
}
