li:not(.different) {
  color: red;
}

@media print {
  * {
    // position: relative !important;
  }
  #app-container {
    height: auto;
  }
  // #header, #menu {
  //   display: none;
  // }

  .break-page {
    page-break-after: always;
  }
}
