.sofa-print-page-break {
  page-break-after: always;
  height: 20px;
  position: relative
}
@media print {
  * {
    position: relative !important;
  }
  .sofa-print-page-break {
    page-break-after: always;
    height: 0px;
    box-shadow: none;
  }
}
